body{
	overflow-x: hidden;
}
.container{
	max-width: 1170px;
	margin: auto;
}
.active{
	color: white;
}
.clear{
	clear: both;
}
img[src="img/logo.svg"]{
	width: 200px;
}
.nav-section{
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
}
.nav ul{
	display: flex;
	list-style-type: none;
}
.nav li{
	margin: 0 15px 0 0;
}
.nav li:last-child{
	margin: 0;
}
.nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #3D58A5;
	background-color: #EA8FD0;
	font-size: 24px;
}


.comp-section{
	padding: 25px 0;
	background-color: #eee;
}
.comp{
	position: relative;
}
.comp span{
	font-size: 30px;
	background-color: #EA8FD0;
	color: white;
	position: absolute;
	bottom: 50px;
	left: 20px;
	text-transform: uppercase;
}
img[src="img/background-image.jpg"]{
	max-width: 100%;
}
img[src="img/html.svg"]{
	width: 100px;
	position: absolute;
	bottom: 50px;
	right: 20px;
}


.video-section{
	background-color: #363e97;
	padding: 25px 0 75px 0;
}
.video-section h3{
	background-color: #EA8FD0;
	color: white;
	font-size: 24px;
	display: inline-block;
}
.video-boxes{
	display: flex;
	justify-content: space-between;
}
.v-box{
	width: 48%;
	height: 320px;
	background-color: #f2f2f2;
	text-align: center;
	position: relative;
}
.v-box p{
	position: absolute;
	top: 45%;
	left: 12%;
	right: 12%;
}

.news-section{
	background-color: #bdccd4;
	padding: 0 0 90px 0;
}
.news-section h3{
	background-color: #EA8FD0;
	color: white;
	font-size: 24px;
	display: inline-block;
}
.news-boxes{
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	padding: 0 0 0 0;
}
.n-box{
	background-color: #e5e5e5;
	max-width: 270px;
}
.n-box h4{
	text-transform: uppercase;
	margin-left: 10px;
	display: inline-block;
}


.media-section{
	background-color: #e5e5e5;
	padding: 0 0 30px 0;
}
.media-section h3{
	background-color: #EA8FD0;
	color: white;
	font-size: 24px;
	display: inline-block;
}
.media-boxes{
	display: flex;
	justify-content: space-between;
}
.m-box{
	background-color: #f2f2f2;
	padding: 0 20px 30px 45px;
	max-width: 500px;
	position: relative;
}
.m-box h4{
	font-size: 22px;
	color: #3d58a5;
	text-transform: uppercase;
	background-color: #EA8FD0;
	display: inline-block;
}
.m-box a{
	text-decoration: none;
	background-color: #EA8FD0;
	position: absolute;
	right: 20px;
}
.m-img{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	text-align: justify;
	margin: 0 0 10px 0;
}
.m-img p{
	margin: 0 0 0 20px;
	align-self: flex-start;
}


footer{
	padding: 20px 0;
}
.flex{
	display: flex;
	justify-content: space-between;
}

/* ////////////////////////////////START NEWS PAGE//////////////////////////////////*/

.soc-icons ul{
	list-style-type: none;
}
.soc-icons li{
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
	border-right: 1px solid #3d58a5;
}
.soc-icons li:last-child{
	border: 0;
}


.news-boxes-padding{
	padding: 100px 0 0 0;
}
.news-content button{
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 50px auto 0;
	color: white;
	background-color: #83939b;
	padding: 10px;
	text-transform: uppercase;
}


.slider-dot{
	display: inline-flex;
	margin: 20px auto 0;
}
.white-dot, .dot{
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	border: 1px solid white;
}
.white-dot{
	background-color: white;
	height: 10px;
}

/*////////////////////////////////TYPOGRAPHY PAGE/////////////////////////////////*/

.t-lab-section{
	background-color: #bdccd4;
}
.t-lab-link{
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.t-lab-link span{
	color: #353e97;
}
.t-lab-link h3{
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #EA8FD0;
}
.t-lab-link a, .links a{
	align-self: center;
	color: white;
	font-size: 22px;
}


.date{
	border: 2px solid #bdccd4;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #353e97;
	font-weight: bold;
	margin: 30px 0 10px 0;
}
span.num{
	font-size: 25px;
}
.typography-lab h3{
	display: inline-block;
	color: #353e97;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #EA8FD0;
	margin: 10px 0 20px 0;
}
.typography-desc img{
	float: left;
	margin: 0 30px 50px 0;
}


.soc-links-section{
	background-color: #bdccd4;
	padding: 35px 0;
}
.links{
	display: flex;
	justify-content: space-between;
}

/*//////////////////////////////////ABOUT PAGE////////////////////////////*/


.about-panel{
	background-color: #ee4035;
	padding: 30px 0;
}
.about-panel h3{
	display: inline-block;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #EA8FD0;
}
.slide-section{
	border-bottom: 1px solid #ee4035;
}
.slide{
	display: flex;
	justify-content: space-between;
	margin: 60px 0 35px 0;
}
.slide-img{
	max-width: 300px;
	min-height: 370px;
	align-self: center;
	display: flex;
	flex-direction: column;
}
.slide-img img{
	border: 1px solid #ee4035;
	padding: 50px;
	max-width: 400px;
}
.slide-img h3, .slide-img2 h3{
	font-size: 22px;
	color: #ee4035;
	background-color: #EA8FD0;
	text-transform: uppercase;
	margin: 10px 0;
}
.slide-img p, .slide-img2 p{
	font-size: 20px;
	color: #58595b;
	background-color: #EA8FD0;
}
.slide-img2{
	max-width: 400px;
	min-height: 470px;
}
.slide-img2 img{
	border: 1px solid #ee4035;
	padding: 100px 70px;
	max-width: 400px;
}

.team-section{
	margin: 20px 0 130px 0;
}
.team > h3{
	display: inline-block;
	font-size: 22px;
	background-color: #EA8FD0;
	text-transform: uppercase;
	color: #ee4035;
}
.team-info{
	display: flex;
	justify-content: space-between;
	margin: 50px 0 0 0;
}
.person-info{
	position: relative;
	max-width: 200px;
	min-height: 170px;
}
.person-info h3{
	display: inline-block;
	position: absolute;
	font-size: 22px;
	background-color: #EA8FD0;
	left: 15%;
	top: 48%;
	text-transform: uppercase;
}